@font-face {
  font-family: 'Squaremaze';
  src: url('../Squaremaze.ttf');
}

@font-face {
  font-family: 'Deranian';
  src: url('../DeranianPro-51ZRZ.ttf');
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.6
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    border: none;
  }

  15% {
    opacity: 0.1;
    border: 1px solid midnightblue;
  }

  70% {
    opacity: 0.8;
    border: 2px solid darkslategray;
  }

  100% {
    opacity: 1;
    border: 2px solid antiquewhite;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 0;
}

.glow {
  font-family: 'Deranian';
  padding-top: 3%;
  text-align: center;
  font-size: 5vw;
  -webkit-text-stroke: 1px blueviolet;
  color: whitesmoke;
  animation: fadeInOut 2s infinite;
}

header {
  position: absolute;
  display: flex;
  width: 80%;
  left: 10%;
  right: 10%;
  justify-content: center;
}

p {
  font-family: 'Squaremaze';
  font-size: 1.5rem;
  -webkit-text-stroke: 1px plum;
  color: lightgray;
  margin-top: 5px;
  padding-top: 5px;
}

#card-header {
  text-align: center;
  align-items: center;
  position: absolute;
  padding: 2%;
  margin-bottom: 2%;
  width: 90%;
}

.card-header {
  padding: 10px;
}

.card-description {
  text-align: center;
  position: relative;
  padding-top: 5px;
  top: 20px;
}

.container {
  position: absolute;
  overflow: hidden;
  top: 20%;
  left: 50%;
  max-width: 500px;
  max-width: 500px;
  margin-left: -250px;
  margin-right: auto;
  display: flex;
  justify-content: center;
  border: 2px solid antiquewhite;
  border-radius: 10%;
  z-index: 100;
  animation: fadeIn 4s linear;
}

.container img {
  width: 100%;
  background: transparent;
  z-index: 10;
}

button {
  height: 10%;
  width: 30px;
  border: 2px solid white;
  outline: none;
  background: black;
  /*rgba(0, 0, 0, 0.8)*/
  ;
  cursor: pointer;
  padding: -30px;
  display: block;
  z-index: 50;
}

button .arrow {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: block;
  padding: 10px;
  transition: transform 0.3s ease-out;
  outline: none;
  z-index: 50;
}

.carousel {
  border-radius: 10%;
  z-index: 0;
}

#right-btn {
  margin: auto 0 auto -2em;
  border-radius: 0 20% 20% 0;
}

#right-btn .arrow {
  transform: rotate(-45deg);
  z-index: 100;
}

#right-btn .arrow {
  transform: rotate(-45deg);
}

#left-btn {
  border-radius: 20% 0 0 20%;
  z-index: 50;
  margin: auto -2em auto 0;
}

#left-btn .arrow {
  transform: rotate(135deg);
  z-index: 100;
}

.hidden {
  display: none;
}

.pauzeFx {
  filter: invert(0.5);
  animation: fadeInOut 2s infinite;
}

.player {
  position: absolute;
  margin-top: 50%;
  top: -50px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  filter: invert(0.5);
}

.player:active {
  filter: invert(1);
  animation: fadeInOut 1s infinite;
}

.player:hover {
  filter: invert(0.6);
  animation: fadeInOut 1s linear;
}

footer {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  bottom: 10px;
}

.channel-info {
  position: fixed;
  top: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.channel-item {
  color: wheat;
  font-family: 'Squaremaze';
  font-size: 1.5vw;
}

.channel-item:nth-of-type(1) {
  font-size: 2.6vw;
  font-weight: bold;
  color: mediumslateblue;
}

.channel-item:nth-of-type(3) {
  color: indianred;
  font-size: 2vw;
}

.project-info {
  display: flex;
  width: 80%;
  justify-content: space-between;
  left: auto;
  right: auto;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}

.date93 {
  position: absolute;
  top: 10%;
  color: white;
  font-family: 'monospace';
  font-size: 1vw;
}

.inline {
  display: inline-block;
}

.infotext {
  position: fixed;
  top: 90%;
  display: block;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
  width: 80%;
  height: 10%;
}

.info-item {
  font-family: 'monospace';
  font-size: 2vw;
  color: navajowhite;
}

.footer-img {
  width: 30px;
  height: 30px;
  max-width: 30px;
  max-height: 30px;
}

@media screen and (min-width: 240px) and (max-width: 320px) {
  .container {
    position: absolute;
    display: flex;
    overflow: hidden;
    max-width: 220px;
    max-height: 220px;
    left: 50%;
    margin-left: -110px;
  }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .container {
    position: absolute;
    display: flex;
    overflow: hidden;
    max-width: 220px;
    max-height: 220px;
    left: 50%;
    margin-left: -110px;
  }
}

@media screen and (orientation: portrait) {
  .container {
    position: absolute;
    overflow: hidden;
    top: 20%;
    left: 50%;
    max-width: 500px;
    max-width: 500px;
    margin-left: -250px;
    margin-right: auto;
    display: flex;
    justify-content: center;
    border: 2px solid antiquewhite;
    border-radius: 10%;
    z-index: 100;
    animation: fadeIn 4s linear;
  }
}

@media screen and (orientation: landscape) {
  .container {
    position: absolute;
    display: flex;
    left: 50%;
    top: 20%;
    margin-left: -150px;
    width: 300px;
    height: 300px;
  }

  .channel-item:nth-of-type(2) {
    display: none;
  }

  .channel-item.channel-item:nth-of-type(3) {
    display: none;
  }

  .info-item {
    font-size: 1vw;
  }

  .card-header {
    text-align: center;
  }

  .project-info {
    position: fixed;
    justify-content: space-between;
    top: 95%;
    left: 50%;
    margin-left: -40%;
    margin-right: 10%;
    width: 80%;
  }

  .card-title {
    font-size: 2.5vw;
  }

  .card-description {
    font-size: 2vw;
  }

  .player {
    position: absolute;
    margin-top: 50%;
    top: -35px;
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
    filter: invert(0.5);
  }
}

.payment {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 600px;
  max-height: 600px;
  border: 3px solid blue;
  background-color: honeydew;
  margin-top: 20%;
  padding: 10% 5% 10% 5%;
  padding-bottom: 30%;
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
}

.theme-2 {
  background-color: black;
}
